<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= recipe.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input required value="<%= recipe.difficulty %>" type="text" name="difficulty" id="difficulty" class="form-control">
</div>
<div class="form-group">
    <label for="category">Category</label>
    <input required value="<%= recipe.category %>" type="text" name="category" id="category" class="form-control">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%= recipe.description %></textarea>    
</div>
<div class="form-group">
    <label for="ingredients">Ingredients</label>
    <textarea required name="ingredients" id="ingredients" class="form-control"><%= recipe.ingredients %></textarea>
</div>
<div class="form-group">
    <label for="instructions">Instructions</label>
    <textarea required name="instructions" id="instructions" class="form-control"><%= recipe.instructions %></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>