<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Card</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Recipes</h1>
        <a href="/recipes/new" class="btn btn-success">New Recipe</a>
        <% recipes.forEach(recipe => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= recipe.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= recipe.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= recipe.description %>
                    </div>
                    <a class="btn btn-primary" href="recipes/<%= recipe.slug%>">Read More</a>
                    <form action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>
                </div>
            </div>

        <% }) %>

    </div>

</body>
</html>